@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans+Condensed:ital,wght@1,300&display=swap");

html {
    height: 100%;
    font-family: "Comfortaa", cursive;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: black;
}

header {
    height: 7%;
    border-bottom: 2px solid #f1f2f6;
    color: #f1f2f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
    overflow: hidden;
}

header span {
    animation: fadeRight 1.4s ease-in-out;
}

@keyframes fadeRight {
    0% {
        transform: translateY(-50px);
        opacity: 0.6;
    }
    50% {
        transform: none;
    }
    75% {
        transform: translateY(-20px);
    }
    100% {
        transform: none;
    }
}

footer {
    height: 93%;
    display: flex;
}

section {
    box-sizing: border-box;
    height: 100%;
}

.photo-section {
    width: 35%;
}

.bgImage {
    height: 100%;
    width: 100%;
}

aside {
    width: 5%;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #f1f2f6;
    border-left: 2px solid #f1f2f6;
}

aside h4 {
    writing-mode: tb-rl;
    text-orientation: upright;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    transform: rotate(0deg);
    color: #f1f2f6;
}

.todo-section {
    width: 60%;
    display: flex;
}

main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
}

.js-clock {
    height: 20%;
    color: #f1f2f6;
    display: flex;
    align-items: center;
    font-size: 5em;
    transition: color 1s ease-in-out;
}

.js-weather {
    height: 7%;
    align-items: center;
    font-size: 2em;
    color: #f1f2f6;
}

.js-form {
    height: 5%;
    display: flex;
    align-items: center;
    outline: none;
    justify-content: center;
    padding-bottom: 10px;
}

.js-form input {
    height: 100%;
    width: 50%;
    border: none;
    background-color: #f1f2f6;
    border-radius: 20px;
    color: black;
    font-size: 2em;
    padding: 0px 20px;
    outline: none;
    opacity: 0.7;
}

.js-form input::placeholder {
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: "Comfortaa", cursive;
}

.js-toDoForm {
    box-sizing: border-box;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-toDoForm input {
    height: 100%;
    width: 50%;
    border: none;
    background-color: #f1f2f6;
    border-radius: 20px;
    color: black;
    font-size: 2em;
    padding: 0px 20px;
    outline: none;
    opacity: 0.7;
}

.js-toDoForm input::placeholder {
    color: #ea2027;
    font-weight: 600;
    font-size: 20px;
    font-family: "Comfortaa", cursive;
}

.list-set {
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    color: #f1f2f6;
}

.list-set__left,
.list-set__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-set__left .list-title {
    font-size: 1.8em;
    width: 50%;
    height: 3%;
    display: flex;
    background: linear-gradient(to left, #0652dd 1%, transparent 80%);
}

.list-set__right .list-title {
    font-size: 1.8em;
    width: 50%;
    height: 3%;
    display: flex;
    background: linear-gradient(to left, #009432 1%, transparent 80%);
}

.pendingList,
.finishedList {
    padding: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

ul > li > span {
    font-size: 28px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    outline: none;
    opacity: 0.8;
}

button:nth-child(2) {
    background-color: #ea2027;
}

.pendingList button:nth-child(3) {
    background-color: #0652dd;
}

.finishedList button:nth-child(3) {
    background-color: #009432;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: flex;
}
